<div class="container">

<h2 style="text-align: center;">Simular contrato</h2>

  <table class="table" style="margin-top: 60px">
    <thead>
      <tr>
        <th>Nº Contrato</th>
        <th>Documento Contratante</th>
        <th>IMEI</th>
        <th>Nº Telefone</th>
        <th>Modelo</th>
        <th>Nº Nota Fiscal</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contrato of contratos">
        <td>{{ contrato.id }}</td>
        <td>{{ contrato.contratante.documento }}</td>
        <td>{{ contrato.contratante.celular[0].imei }}</td>
        <td>{{ contrato.contratante.numeroTelefone }}</td>
        <td>{{ contrato.contratante.celular[0].modelo }}</td>
        <td>{{ contrato.contratante.celular[0].numeroNotaFiscal }}</td>

        <td>
          <button type="button" class="btn btn-success" (click)="exibir(contrato.id)">Exibir</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<app-modal [open]="openModal" title="Detalhes" (onClose)="onCloseModal()">
{{ contrato | json }}
</app-modal>
